<a href="https://colab.research.google.com/github/SayuriHR/Cyp3-/blob/main/Fundamentos3_Cyp_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#23 de noviembre del 2021

Repeticion:

Este tipo de estrutura nos permite automizar la ejecucion repetitiva de codigo mientras ciertas condiciones a cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de pogramacion:

- Desde ... hasta ( estructura for )
- haz mientras (structura While)
- haz y luego validaz mientras (estructura Do-While)

# FOR CON Python

```
for j in range(10)
    print(f"Hola {j}")
```

# FOR CON LENGUAJE C Y/O Java 
```
for( int j=0 ; j<10 ; j=j+1 ){
    print("Hola %i \n" , j );
}
```

En todos los lenguajes de programcion existe un tipo especial de for, conocido como **for-each**

#FOR-aech en Python 
```
for color in colores:
    print(f"Este es el color {color} ")
```

In [ ]:
# funcion Range()
# range(<INICIO>,<STOP>,<INCREMENTO>) EL STOP SIEMPRE SE TIENE QUE PONER 
x =range(0,10,2)
print(x)


for j in range(10): #range (0,10) -->0,1,2,3,4,5,6,7,8,9
    print(f"Hola {j}")
print("-.-.-.-.-.-")
for j in range(0,10,2): #range (0,10,2) -->0,2,4,6,8
    print(f"Hola {j}")

frutas = ["uva", "aguacate", "pera", "manzana", "sandia"]
print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])
print(frutas[4])

print("-.-.-.-.-.-")
for index in range(5):
    print(frutas[index])

for j in range(5):
     print("+++++")

range(0, 10, 2)
Hola 0
Hola 1
Hola 2
Hola 3
Hola 4
Hola 5
Hola 6
Hola 7
Hola 8
Hola 9
-.-.-.-.-.-
Hola 0
Hola 2
Hola 4
Hola 6
Hola 8
uva
aguacate
pera
manzana
sandia
-.-.-.-.-.-
uva
aguacate
pera
manzana
sandia
+++++
+++++
+++++
+++++
+++++

# 25 de noviembre del 2021

In [3]:
for x in range (1, 20, 1): 
    print(x)
print("fin del programa")

for x in range(19,0,-1):
    print(x)
print("fin del programa")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
fin del programa
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
fin del programa

In [12]:
# ejemplo 3.3
CUECER = 0
NUM = 0
N = int(input("un valor numerico mayor que 1: "))
for I in range( 1, N+1 , 1):
    N = int(input("un valor numerico:"))
    if N == 0:
        CUECER += 1
print("CUECER=" ,CUECER)

un valor numerico mayor que 1: 4
un valor numerico mayor que 1:0
un valor numerico mayor que 1:0
un valor numerico mayor que 1:2
un valor numerico mayor que 1:2
CUECER= 2

7 x 1 = 7

7 x 2 = 14

...

7 x 10 = 70

In [14]:
for j in range (1, 11):
    print(f"7 * {j}=", 7*j)

7 * 1= 7
7 * 2= 14
7 * 3= 21
7 * 4= 28
7 * 5= 35
7 * 6= 42
7 * 7= 49
7 * 8= 56
7 * 9= 63
7 * 10= 70

¿Dame un numero entre 1 y 5? : 2

¿Dame un numero entre 2 y 10? : 6

In [30]:
N1= int(input("Dame un numero entre 1 y 5:"))
if N1 >=1 and N1 <=5:
    N2= int(input("Dame un valor entre 2 y 10:"))
    if N2 >= N1 and N2 <=10:

        for j in range(N1, N2+1):
             for i in range(1,11):
                 print(f"{j} x {i} =", i* j)
        print("---------")
else:
        print("valor fuera de rango 1-5")

Dame un numero entre 1 y 5:4
Dame un valor entre 2 y 10:6
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
---------

In [36]:
# generadores de listas 
#es una notacion especial de python que permite crear una lista de tamaño 
numeros =[0,0,0,0,0,0,0]
print(numeros)
numero = [ 0 for x in range(5) ]
print(numeros )
# emplenado la variable de control x para el valor inicial 
numero = [ x for x in range(5) ]
print(numeros )
#[10,20,30,40,50,60,70,80,90,100]
numeros=[(x+1)*10 for x in range(10)]
print(numeros)
print("-,-,-,-,-")
numero = [ x for x in range(10,101,10) ]
print(numeros )
print("-,-,-,-,-")
numero = [ x*10 for x in range(1,11) ]
print(numeros )

[0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
-,-,-,-,-
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
-,-,-,-,-
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [39]:
# ejercicio:calcular promedio de edades 
suma=0
edades=[0 for x in range(5)]
for x in range(5):
    edades[x]=int(input("Dame una edad: ")) # se va a utilizar mucho 
    suma=suma+edades[x]
print(edades)
print("promedio: ", suma/5)

Dame una edad: 20
Dame una edad: 21
Dame una edad: 33
Dame una edad: 25
Dame una edad: 19
[20, 21, 33, 25, 19]
promedio:  23.6

In [44]:
import random 
print(random.random())
print(random.uniform(5,11))
val= round(random.uniform(5,11) , 2)
print(val)

valores = [round(random.uniform(5,11) , 2)for x in range(20)]
print(valores)

0.19718661434838392
8.990301801632008
9.05
[10.22, 5.99, 5.82, 8.93, 8.1, 7.95, 7.43, 5.86, 5.46, 5.3, 5.48, 6.9, 9.5, 8.32, 10.29, 10.35, 6.12, 6.3, 6.5, 7.62]